body{
	background-image: url("../pic/john-fowler-RsRTIofe0HE-unsplash.jpg");
	background-size: cover;
	

}


 div{
    width: 30%;
    margin: 0 auto;
    margin-top: 50px;
    background: rgb(173, 189, 192, 0.3);  /*0-1*/
    padding: 130px;
  /*margin-top: 20px;*/


}
